body {
    background-color: #f7f1f4;
}

header,
footer {
    background-color: #bb044d;
}

#sobre {
    margin-top: 5%;
}

footer {
    text-align: center;
    padding: 30px 0;
}

footer > p{ 
    margin: 0;
    padding: 0;
    color: #f7f1f4;
}

a > img {
    height: 4rem;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

#logo {
    width: 120px;
    height: auto;
}

h1, h2 {
    font-family: 'Yaldevi', sans-serif;
}

h5 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 5%;
}

.rounded-circle{
    align-content: center;
    width: 100%;
}

.col {
    margin-bottom: 2.5rem;
}

#topics .col {
}

.card-img-top {
    width: 40%;
    align-self: center;
    padding: 5%;
}

.btn {
    align-self: center;
    margin-bottom: 2.5rem;
}

.btn:hover {
    background-color: #53002b;
}